name: Atualizar Vers찾o

on:
  push:
    branches:
      - main

jobs:
  atualizar-versao:
    runs-on: ubuntu-latest

    steps:
      - name: Verificar c처digo
        uses: actions/checkout@v2

      - name: Configurar Java
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '17'

      - name: Atualizar Vers찾o
        run: |
          cd $GITHUB_WORKSPACE
          chmod +x version.sh
          ./version.sh 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

      - name: Commit e Push
        run: |
            git add .
            git commit -m "Atualizando vers찾o POM"
            git push origin main